html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title NuloBlanco
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="js/Chart.js")
		link(href="css/bootstrap.min.css", rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
		script(src="http://"+host+":"+socketPort+"/socket.io/socket.io.js")
		script(type="text/javascript")= "var socket = io.connect('http://"+host+":"+socketPort+"');"
		script(src="/js/nullblank-viewer.js?id=1234")


	body
		.col-xs-12
			.col-xs-3
				img(src="img/logo_mini.png")
			.col-xs-9
				h1#title-value
		canvas#myChart
		#description-value
		.col-md-12
			select#ballot-boxes.form-control
			table.table
				thead
					tr
						th Ballot Box
						th Votes
						th Quorum

				tbody
					tr
						td#bb-name-value Loading...
						td#bb-votes-value 0
						td#bb-quorum-value 0%

			table.table
				thead
					tr
						th Option
						th Color
						th Votes
						th %
				tbody#options
					//- More votes here
				